MainHudPanel
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	font-family: Poppins;

	.enable-mouse
	{
		position: absolute;
		top: 0;
		left: 0;
		width: 0px;
		height: 0px;
		pointer-events: all;
	}
}