@using Sandbox;
@using Sandbox.UI;
@namespace Battlebugs
@inherits Panel
@attribute [StyleSheet]

<root>
	@if (!BoardManager.Local.IsValid()) return;

	<div class="header">
		<div class="player">
			<img src="ui/player-banner.png" />
			<div class="content">
				<img src=@($"avatar:{BoardManager.Local.Network.OwnerConnection.SteamId}") />
				<span class="name">@BoardManager.Local.GameObject.Name</span>
				<span class="score">0</span>
			</div>
		</div>
		<div class="banner">@GetHeader()</div>
		<div class="player opponent">
			<img src="ui/player-banner.png" />
			<div class="content">
				<img src=@($"avatar:{BoardManager.Local.Network.OwnerConnection.SteamId}") />
				<span class="name">@BoardManager.Local.GameObject.Name</span>
				<span class="score">0</span>
			</div>
		</div>
	</div>
</root>

@code
{
	public static GameHud Instance { get; private set; }

	protected override void OnAfterTreeRender(bool firstTime)
	{
		base.OnAfterTreeRender(firstTime);

		if (firstTime)
		{
			Instance = this;
		}
	}

	string GetHeader()
	{
		if (GameManager.Instance.CurrentPlayer == BoardManager.Local)
		{
			return "It's your turn!";
		}
		return "Your opponent is thinking...";
	}

	protected override int BuildHash() => System.HashCode.Combine(BoardManager.Local);
}