@using Sandbox;
@using Sandbox.UI;
@namespace Battlebugs
@inherits Panel
@attribute [StyleSheet]

<root>
	@if (!BoardManager.Local.IsValid()) return;

	<div class="bug-inventory">
		@if (true)
		{
			@foreach (var bugItem in BoardManager.Local.BugInventory)
			{
				Log.Info(bugItem);
				<div class="bug-inventory-item">
					<div class="color" style="background-color: @bugItem.Bug.Color.Hex">
						<label>x@(bugItem.Bug.SegmentCount)</label>
					</div>
					<label>@bugItem.Count</label>
				</div>
			}
		}
	</div>
</root>

@code
{
	protected override int BuildHash() => System.HashCode.Combine(BoardManager.Local, BoardManager.Local?.BugInventory.Sum(x => x.Count));
}