@using Sandbox;
@using Sandbox.UI;
@namespace Battlebugs
@inherits Panel
@attribute [StyleSheet]

<root>
	<label>Waiting for an opponent...</label>
	<i>refresh</i>
</root>

@code
{
	protected override int BuildHash() => System.HashCode.Combine("");
}