SidePanel {
	position: absolute;
	top: 150px;
	left: 8px;
	bottom: 0px;
	flex-direction: column;
	justify-content: center;
	color: white;
	font-family: "paper cuts 2";
	font-size: 16px;

	.container {
		padding: 8px;
		background-color: rgba(white, 0.05);
		flex-direction: column;
		align-items: center;
		width: 210px;
		transition: left 1s ease-out;
		backdrop-filter: blur(4px);

		button {
			padding: 4px;
			color: white;
			font-family: "paper cuts 2";
			font-size: 16px;
			cursor: "bug-hover";
			transition: background-color 0.1s ease-out;
			align-items: center;
			gap: 8px;
			width: 100%;
			justify-content: center;
			pointer-events: all;
			background-color: #4CAF50;

			&:hover {
				background-color: #45a049;
			}

			&:active {
				background-color: #3e8e41;
				sound-in: ui.button.press;
			}
		}
	}
}
