WeaponHud
{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	justify-content: center;
	align-items: center;
	font-family: Poppins;
	font-size: 32px;

	.container
	{
		background-color: rgba(black, 0.5);
		padding: 16px;
	}
}