ShopPanel
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(black, 0.4);
	opacity: 0;
	transform: scale(1.1);
	transition: all 0.2s ease-out;
	color: white;
	font-family: "paper cuts 2";
	font-size: 24px;
	pointer-events: all;

	> .container
	{
		position: absolute;
		top: 20%;
		left: 30%;
		bottom: 20%;
		right: 30%;
		background-color: rgba(black, 0.9);
		padding: 16px;
		flex-direction: column;
		align-items: center;

		> .header
		{
			font-size: 42px;
			gap: 16px;
			align-items: center;
		}

		> .content
		{
			width: 100%;
			flex-grow: 1;
			padding: 8px;
			overflow-x: hidden;
			overflow-y: scroll;
			flex-direction: column;
			gap: 8px;
		}

		> .close
		{
			position: absolute;
			top: 8px;
			right: 8px;
			font-size: 32px;
			cursor: pointer;

			&:hover
			{
				sound-in: ui.button.over;
				background-color: rgba(white, 0.05);
			}

			&:active
			{
				sound-in: ui.navigate.back;
			}
		}
	}

	&.show
	{
		opacity: 1;
		transform: scale(1);
	}
}
