ShopPanelEntry
{
	flex-grow: 1;
	background-color: rgba(0, 0, 0, 0.61);
	padding: 16px;
	flex-shrink: 0;
	gap: 16px;
	align-items: center;
	cursor: pointer;

	> img
	{
		width: 92px;
		height: 92px;
		flex-shrink: 0;
	}

	.info
	{
		flex-direction: column;

		.top
		{
			gap: 8px;
		}

		.description
		{
			font-size: 20px;
			opacity: 0.5;
		}
	}

	&:hover
	{
		sound-in: ui.button.over;
		background-color: rgba(0, 0, 0, 0.8);
	}

	&:active
	{
		background-color: rgba(0, 0, 0, 0.5);
	}
}