{
  "Version": 2,
  "Cursors": {
    "bug-hover": {
      "Image": "ui/cursors/hand_small_point.png",
      "Hotspot": "16,16"
    },
    "bug-disabled": {
      "Image": "ui/cursors/disabled.png",
      "Hotspot": "32,32"
    },
    "bug-default": {
      "Image": "ui/cursors/pointer_toon_b.png",
      "Hotspot": "16,16"
    },
    "bug-textedit": {
      "Image": "ui/cursors/bracket_a_vertical.png",
      "Hotspot": "16,16"
    }
  },
  "__guid": "cf3deba4-0fea-4e71-9e13-99646303e9bc",
  "__schema": "configdata",
  "__type": "CursorSettings",
  "__version": 2
}