BugListSegment
{
	img
	{
		width: 32px;
		height: 32px;
		flex-shrink: 0;
		font-size: 12px;
		justify-content: flex-end;
		align-items: flex-end;

		label
		{
			position: relative;
			top: 8px;
		}
	}

	&.dead
	{
		img
		{
			filter: brightness(-100);
		}
	}

	&:hover
	{
		background-color: rgba(white, 0.1);
	}
}